!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Kinsmen Pool iCalendar Schedules
    %link{:rel => 'stylesheet', :href => '/application.css', :media => 'screen,projection'}

    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" } 
    %meta{:name => "keywords", :content => "edmonton, pool, recreation" } 
    %meta{:name => "description", :content => "iCalendar format for Kinsmen pool schedules" }  
  %body

    #content
      #icon
        .month= Date.today.strftime("%b").upcase
        .day= Date.today.strftime("%d")

      #pools
        %h1 Kinsmen Pool Schedules
        %ul
          - @pools.each do |pool|
            %li
              %a{:href => "webcal://#{request.host}/#{pool.slug}.ics"}= pool.name
              %span.download
                [
                %a{:href => "http://#{request.host}/#{pool.slug}.ics"} download ics
                ]

      .clear

    #footer
      %a{:href => 'http://github.com/adamelliot/kinsmen_pool'} fork me!
      |
      %a{:href => 'http://adamelliot.com/'} adamelliot.com